/*------------------------------------*\
    $PATTERN SPECIFIC STYLES
\*------------------------------------*/

// Demo to show grid system - in this stylesheet because it shouldn't be included in the production styles
.demo {
  overflow: hidden;
  margin-bottom: 1rem;
}

.demo .gi, .demo .demo-block {
  background: $dark-gray;
  color: $ghost-gray;
  text-align: center;
  margin-bottom: $spacing-small;
  padding: 1em !important;

  &:nth-of-type(2n) {
    color: $dark-gray;
    background: $ghost-gray;
  }
}


// Style Guide color swatches
.sg-colors {
  overflow: hidden;
  margin:0;
  padding:0;
  list-style: none;

  li {
    overflow: hidden;
    border: 1px solid $sidewalk;
    margin: 0.3em;

    @media all and (min-width: 40rem) {
      float: left;
      width: 10em;
    }
  }
  .sg-swatch {
    display: block;
    height: 1.5em;
    width: 100%;
    height: 5em;

    @media all and (max-width: 40rem) {
      float: left;
      margin-right: 0.3em;
      margin-bottom: 0.2em;
    }

  }

  .sg-label {
    padding:.3rem;
    line-height: 1.8;
  }
}


#p-full-width-layout .column, #p-3-4-layout .column, #p-three-column-layout .column, #p-two-column-layout .column{
  background: #eee;
  font-size: 11px;
  margin-bottom: 10px;
  line-height: 2rem;
  border: solid 1px #c6c6c6;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/*override normal behavior for propper alignment*/
.row .row {
  margin-left:0 !important;
  margin-right:0 !important;
}
.pattern{
  border: 1px solid #ccc;
  margin-bottom: 30px;
  position: relative;

  .columns{
    position: relative;
  }

  .title {
    cursor:pointer;
    background: #a1a1a1;
    color:#fff;
    padding:10px;

    h3 {
      display:inline-block;
      width:100%;
      font-size:1.5rem;
      margin:0;
    }
    + i {
      color:$dark-gray;
    }
    &:hover {
      color:$black;
    }
    .view-code{
      display: block;
      float:right;
      padding-top:3px;
      font-size:1.2rem;
    }
  }

  .preview{
    padding:10px
  }

  .details{
    display: none;
  }

  figure {
    margin: 0;
  }
  .copy{
    margin:0;
  }

  .usage{
    padding:10px;
  }

}

#page {
  transition:.3s ease-in-out;
  position:relative;
}

#pattern-page{
  figure{
    height:250px;
    overflow: auto;
  }
}
#logos{
  .logo{
    display: inline-block;
    padding:1rem;
  }
}

#pattern-site-nav{
  background: #96c9ff;

}
#pattern-site-nav.top-bar ul{
  background: #96c9ff;
  text-transform:uppercase;
  color:#444;

  ul {
    padding:0;
    margin:0;
    background: rgba(255,255,255,.9);
  }
}

.spacing-examples{

  >div >div {
    color:white;
    background:$dark-gray;
    display: inline-block
  }

}

header.pattern-site-header{
  background: #f0f0f0;
}


/**
 * Code formatting
 */


pre {
    padding: 8px 12px;
    overflow-x: scroll;
    background: #f0f0f0;

  > code {
    display: block;
    border:none;

  }
}

/**
 * Copy to clipboard button
 */
.copy {
  position: absolute;
  right: 0;
  margin-right: 13px;
  padding: 2px 6px 3px;
}


/**
 * Clearfix
 */
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

nav.sticky ul a{
  border-left: 5px solid transparent;
  padding-left:5px;
  font-weight: normal;

  &.active{
    border-left: 5px solid $brand-color;
  }

}

.inverse{
  background:#000;
  color:#fff;
}

$ten-by-tenths:(
  '10': .1,
  '20': .2,
  '30': .3,
  '40': .4,
  '50': .5,
  '60': .6,
  '70': .7,
  '80': .8,
  '90': .9,
  '100': 1,
);

@each $ten, $single in $ten-by-tenths {
  .bg-black-#{$ten} {
    background: rgba(0, 0, 0, $single);
  }
}
