header.pattern-site-header{
  background: #f0f0f0;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}


/**
 * Code formatting
 */


pre {
    padding: 8px 12px;
    overflow-x: scroll;
    background: #f0f0f0;

  > code {
    display: block;
    border:none;

  }
}

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
}


/**
 * Copy to clipboard button
 */
.copy {
  position: absolute;
  right: 0;
  margin-right: 13px;
  padding: 2px 6px 3px;
}


/**
 * Clearfix
 */
%clearfix {
<<<<<<< e69c03fe7db5a858836ac7101390dbc98245c5d4

    &:after {
        content: "";
        display: table;
        clear: both;
    }
=======
  &:after {
    content: "";
    display: table;
    clear: both;
  }
>>>>>>> Undo delete
}

nav.sticky ul a{
  border-left: 5px solid transparent;
  padding-left:5px;
  font-weight: normal;

  &.active{
    border-left: 5px solid $brand-color;
  }

}
