header.pattern-site-header{
  background: #f0f0f0;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}


/**
 * Code formatting
 */


pre {
    padding: 8px 12px;
    overflow-x: scroll;
    background: #f0f0f0;

  > code {
    display: block;
    border:none;

  }
}

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
}


/**
 * Copy to clipboard button
 */
.copy {
  position: absolute;
  right: 0;
  margin-right: 13px;
  padding: 2px 6px 3px;
}


/**
 * Clearfix
 */
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

nav.sticky ul a{
  border-left: 5px solid transparent;
  padding-left:5px;
  font-weight: normal;

  &.active{
    border-left: 5px solid $brand-color;
  }

}

.inverse{
  background:#000;
  color:#fff;
}

$ten-by-ten:(
  '10': .1,
  '20': .2,
  '30': .3,
  '40': .4,
  '50': .5,
  '60': .6,
  '70': .7,
  '80': .8,
  '90': .9,
  '100': 1,
);

@each $ten, $single in $ten-by-ten {
  .bg-black-#{$ten} {
    background: rgba(0, 0, 0, $single);
  }
}
