.app {
  background: $ben-franklin-blue;

  > .row:first-of-type{
    padding:1rem 0;
  }

  > .row:last-of-type{
    background:$ben-franklin-light;

    [class*="centered"]{
      text-align: center;
    }
  }
  .page-title-container{
    color: $white;
    display: inline-block;
    border-left: 1px solid $white;
    padding: rem-calc(5px 0 0px 13px);
    margin: rem-calc(10px 0px 10px 0px);
    min-height:rem-calc(50px);

    h1.page-title {
      border-left: none;
      padding: 0;
      margin: 0;
      position: static;
    }
    h2.page-subtitle{
      padding:0;
      border:none;
      color:$white;
      font-size:rem-calc(14);
      margin:0;

    }
    &:hover {
      opacity: .6;
    }
    h1:only-child{
      padding:rem-calc(5px 0);
    }
  }

  h1.page-title {
    color: $white;
    display: inline-block;
    border-left: 1px solid $white;
    padding: 5px 0 0px 13px;
    margin: 0px 0px 2px 16px;
    position: relative;
    top: 11px;
    line-height: 1;

    @include word-wrap();
    a {
      color: $white;

      &:hover {
        color: #027EA4;
      }
    }
  }


}//app

#application {
  min-height: 100%;
  position: relative;
  margin-bottom:rem-calc(40);
  &.full
    .row {
      max-width:100%;
    }
}
