.app {
  .logo{
    @media #{$small-only} {
      width:50px;
      padding:rem-calc(10px 10px 0 0);
    }
  }

  nav {
    text-align: right;

    @media #{$small-only} {
      text-align: left;
    }

  }
  .page-title-container{
      color: #353535;
      display: inline-block;
      border-left: 1px solid #353535;
      padding: rem-calc(5px 0 0px 13px);
      margin: rem-calc(10px 0px 10px 0px);
      min-height:rem-calc(50px);

    h1.page-title {
      border-left: none;
      padding: 0;
      margin: 0;
      position: static;
    }
    h2.page-subtitle{
      color:$sidewalk;
      font-size:rem-calc(14);
      margin:0;

    }
    &:hover {
      opacity: .6;
    }
    h1:only-child{
      padding:rem-calc(5px 0);
    }
  }
  h1.page-title {
    color: #353535;
    display: inline-block;
    border-left: 1px solid #353535;
    padding: 5px 0 0px 13px;
    margin: 0px 0px 2px 16px;
    position: relative;
    top: 11px;
    line-height: 1;
    @include word-wrap();

    a {
      color: #353535;

      &:hover {
        color: #027EA4;
      }
    }

    @media #{$small-only} {
      top:0;
      border:none;
      display:block;
      margin:0;
      padding:0;
      font-size: 1.3em;
      max-width:100%;
    }
  }
}//app

#application {
  min-height: 100%;
  position: relative;
  margin-bottom:rem-calc(40);
  &.full
    .row {
      max-width:100%;
    }
}
