.app {
  .page-title-container{
    width:auto;
    color: $white;
    display: inline-block;
    border-left: 1px solid $white;
    padding: rem-calc(5px 0 0px 13px);
    margin: 0;
    min-height:rem-calc(50px);

    @include breakpoint(medium only) {
      max-width: 402px;
    }
    @include breakpoint(small only) {
      max-width: 292px;
    }

    h1.page-title {
      border-left: none;
      padding: 0;
      margin: 0;
      position: static;
      color: $white;
      display: inline-block;
      line-height: 2.5rem;

      a {
        color: $white;

        &:hover {
          color: $white;
        }
      }
    }
    h2.page-subtitle{
      padding:0;
      border:none;
      color:$white;
      font-size:rem-calc(14);
      margin:0;

    }
    &:hover {
      opacity: .6;
    }
    h1:only-child{
      padding:rem-calc(5px 0);
    }
  }
}

#application {
  margin-bottom:rem-calc(40);
  &.full
    .row {
      max-width:100%;
    }
}
