/*|*\ sticky, fat footer \*|*/
#page {
  min-height: 100%;
  position: relative;

  h1.entry-title{
    margin-bottom:0;
  }
  &.classic {
    min-height: 100%;
    margin-bottom: -75px;
    position: relative;
  &.classic:after {
    height: 75px;
    content: "";
    display: block;
  }
  }
}//#page

article{
  margin-bottom:rem-calc(16);
}

.department{
  h1{
    margin-top:rem-calc(32);
  }
  p{
    margin: rem-calc(16 0 32 0);
    //beacuse of those crazy long department names
    &.external-site {
      word-wrap: break-word;
      word-break: break-all;
    }
  }
  @media #{$medium-up} {
    a.button{
      width:60%
    }
  }
}//.departments
