.search-head{
  padding:rem-calc(16 0);
  background:$geyser;
  margin:rem-calc(16 0);
  h1{
    text-transform: none;
    @media #{$small-only} {
      margin-top:0;
    }
  }
  input[type="search"]{
    color:$black;
  }
  @media #{$medium-up} {
    .search{
      margin-top:rem-calc(12);
    }
  }
}

.search-results{
  h1{
    font-size:rem-calc(16);
    margin:rem-calc(11 0);
  }
}
