.search-head{
  padding:rem-calc(16 0);
  background:$light-gray;
  margin:rem-calc(16 0);
  h1{
    text-transform: none;
    @include breakpoint(small only) {
      margin-top:0;
    }
  }
  input[type="search"]{
    color:$black;
  }
@include breakpoint(medium) {
    .search{
      margin-top:rem-calc(12);
    }
  }
}

.search-results-list{
  h1{
    font-size:rem-calc(16);
    margin:rem-calc(11 0);
  }
}
