#site-wide-alert {
  @extend %small;
  background:$bell-yellow;
  vertical-align:middle !important;
  padding:rem-calc(7 0);
  margin-bottom: rem-calc(10);

  h2 {
    margin:0;
    padding:0;
    font-size:rem-calc(16);
  }
  i{
    padding:rem-calc(0 10px 0 0);
  }
}

#alpha-alert{
  background:$mine-shaft;
  color: $white;
  min-height: rem-calc(30);
  padding: rem-calc(7 0);
  font-size:rem-calc(13);

  h1{
    color:$bell-yellow;
    margin: rem-calc(5px 0);
  }
  p {
    display:block;
    margin:rem-calc(0 0 5 0);
    font-size:rem-calc(13);
  }
  a:link, a:visited{
    color:$white;
    text-transform: uppercase;
  }
  a:hover, a:active{
    color:$bell-yellow;
    text-transform: uppercase;
  }
  a.go-back:link, a.go-back:visited{
    color:$bell-yellow;
  }
  a.go-back:hover, a.go-back:active{
    color:$white;
  }
  .contact{
    text-align:right;

    .feedback{
      padding: 0 10px 0 0;
      border-right: 1px solid #fff;
      margin: 0 10px 0 0;
      font-size:rem-calc(11);
    }
  }
  #google_translate_element {
    display: inline-block;

    .goog-te-gadget-simple{
      background:none;
      border:none;
      font-size:rem-calc(11);

      img {
        display: none;
      }
      span {
        vertical-align: top !important;
      }
      .goog-te-menu-value {

        span:first-of-type {
          display:none;
        }

        span:last-of-type::before {
          content: "Translate";
          vertical-align:top !important;
          padding:rem-calc(0 5 0 0);
        }
        span:hover:last-of-type::before {
          color:$bell-yellow;
        }

        span {
          border:none !important;
          padding: rem-calc(0 1 0 0);
          color:$white !important;
        }
      }
    }
  }
}
