#site-wide-alert {
  @extend %small;
  background:$bell-yellow;
  vertical-align:middle !important;
  padding:rem-calc(7 0);
  margin-bottom: rem-calc(10);

  h2 {
    margin:0;
    padding:0;
    font-size:rem-calc(16);
  }
  i{
    padding:rem-calc(0 10px 0 0);
  }
}

#alpha-alert{
  @include secondary-font(400);
  background:$dark-gray;
  color: $white;
  min-height: rem-calc(30);
  padding: $spacing-small $spacing-none;
  font-size:rem-calc(13);

  p {
    display:block;
    margin:rem-calc(0 0 5 0);
    font-size:rem-calc(13);
  }
  a:link, a:visited{
    color:$bell-yellow;
    text-transform: none;
  }
  a:hover, a:active{
    color:$white;
  }
  .accessibility{
    text-align:right;
    text-transform: uppercase;
  }
  #google_translate_element {
    display: inline-block;

    .goog-te-gadget-simple{
      background:none;
      border:none;
      font-size:rem-calc(11);
      text-transform: uppercase;

      img {
        display: none;
      }
      span {
        vertical-align: top !important;
      }
      .goog-te-menu-value {

        span:first-of-type {
          display:none;
        }

        span:last-of-type::before {
          content: "Translate";
          vertical-align:top !important;
          padding:rem-calc(0 5 0 0);
        }
        span:hover:last-of-type::before {
          color:$bell-yellow;
        }

        span {
          @include secondary-font(400);
          border:none !important;
          padding: rem-calc(0 1 0 0);
          color:$white !important;
          text-transform: uppercase;
        }
      }
    }
  }
}
