aside#secondary{
  border-left: 5px solid $sidewalk;

  @include breakpoint(medium down){
    border-left:none;
    border-top:5px solid $sidewalk;
  }

  h3 {
    margin-top:10px;
  }

  ul{
    margin:0;
    padding:0;
  }

  li {
    @extend %small;
    list-style:none;
    margin-bottom:rem-calc(15);

    &:last-child {
      margin-bottom: 0;
    }

    ul {
      display:none;
    }
  }
  a:link, a:visited{
    font-weight:normal;
  }
}
