/*callout*/

.callout{
  margin:rem-calc(10 0 16 0);
  border-left:5px solid $bell-yellow;
  padding:rem-calc(0 0 0 10);
  line-height:rem-calc(16);

  h1, h2, h3, h4, h5, h6 {
    margin:0;
  }
  p{
    margin:0;
    font-size:rem-calc(14);
    color:$$mine-shaft;
    font-size: 80%;
  }
}
