a.card{
  color: $dark-gray;
  font-weight: normal;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    color:$ben-franklin-blue;
  }
  > a {
    display: block;

    &:link,
    &:visited{
      color:$dark-gray;
    }
  }

  &:hover{
    @extend %lower-opacity;
  }
  .content-block{
    @include breakpoint(small only) {
      &:after {
        content: '\f178';
        font-family: "FontAwesome";
        position: absolute;
        right: 8%;
      }
    }
  }
}
.card{
  margin-bottom: 30px;
  border-bottom: 5px solid $ben-franklin-blue;
  color: $dark-gray;
  font-size: rem-calc(13);
  display: block;
  background:$ghost-gray;

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    color:$dark-gray;
    font-size:1rem;
    margin:0;
  }
  img {
    width:100%;
    height:auto;
  }
  .content-block{
    padding:1rem;
  }
}
