.content-block {
  border:1px solid $geyser;
  background:$white;
  width:100%;
  position: relative;
  cursor: pointer;
  @include pad-box(16);

  &.no-link{
    border:none;
    background:$geyser;
    cursor: default;
  }

  > a {
    display: block;

    &:link,
    &:visited{
      color:$black;
    }
  }

  h3 {
    padding:0 0 3px 0;
    border-bottom:1px solid $whitesmoke;
  }
  p {
    margin: rem-calc(7 0);
    @extend %small;
    &:last-child{
      min-height:20px;
    }
  }
  img {
    width:100%;
    height:auto;

    @media #{$small-only} {
      display:none;
    }
  }
  .more-link{
    position: absolute;
    bottom: 2%;
    right: 8%;

    &:after {
      content: ' »';
    }
  }
} //.story
