.content-block{
  border:1px solid $geyser;
  background:$white;
  width:100%;
  position: relative;
  flex-grow: 1;
  @include pad-box(14);

  @media #{$small-only} {
    margin-bottom: 1rem;
  }

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-size: $global-font-size;
  }
  p {
    margin: rem-calc(7 0);
    @extend %small;
    &:last-child{
      min-height:20px;
    }
  }
  img {
    width:100%;
    height:auto;
    padding-bottom: rem-calc(14);

  }
  .more{
    position: absolute;
    bottom: 0;
    right: rem-calc(20);
    width: auto;
  }
}
a.card{
  border-bottom: 5px solid $ben-franklin-blue;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: $black;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    color:$ben-franklin-blue;
  }
  > a {
    display: block;

    &:link,
    &:visited{
      color:$dark-gray;
    }
  }

  &:hover{
    @extend %lower-opacity;
  }
  img {
    width:100%;
  }
  .content-block{
    background:$ghost-gray;
    display: flex;
    flex-direction: column;
    flex-grow:1;

    @media #{$small-only} {
      &:after {
        content: '\f178';
        font-family: "FontAwesome";
        position: absolute;
        bottom: 2%;
        right: 8%;
      }
    }
  }
}
