nav.top-bar {
  .title-area{
    @media #{$medium-up} {
          display: none;
        }
    }
  .top-bar-section {
    li.parent-link a{
        border-top: 2px solid $bell-yellow;
        color:$sidewalk;
    }
    ul li{//first lvl
      background:$geyser;
      @media #{$medium-up} {
        background:$white;
        margin:rem-calc(0 10);
        border-top: 2px solid $bell-yellow;
        min-width: rem-calc(150);
        &.has-dropdown > ul > li{//second lvl
          border:none;
        }
        ul li {
          margin:rem-calc(0);
        }
      }//end media query
      > a {
        @include secondary-font;
        font-weight:400;
      }
    }//.topbar-section ul li
  }//.top-bar-section
  .top-bar-section .dropdown li .dropdown {
    border-top: 4px solid $bell-yellow;
    li {
      margin:0;
    }
  }

  .top-bar-section .has-dropdown .dropdown li.has-dropdown>a:after  {
    @media #{$medium-up} {
      margin-top:rem-calc(-6);
    }
  }
  .toggle-topbar.menu-icon a {
    color:$mine-shaft;
  }
}//nav
