#site-nav{
  text-transform: uppercase;
  background: $white;
  display: inline-block;

  ul{
    margin:0;
    padding:0;
    .submenu{
      background: rgba(255, 255, 255, .9);
    }
    li{

      &.is-active > a {
        background: $ben-franklin-blue;
        color:$white;
      }

      &:hover > a{
        background: $ben-franklin-blue;
        color:$white;
      }
      a{
        color:$dark-gray;
      }
      ul li{
        text-align: left;
        li{
          text-align: left;
        }
      }
    }
  }
}

.title-bar-title{
  margin: 0 0 0 30px;
}
