nav#site-nav{
  text-transform: uppercase;
  ul{
    margin:0;
    padding:0;
    .submenu{
      background: rgba(255, 255, 255, .9);
    }
  }
  .is-dropdown-submenu-parent.is-down-arrow {
    a{
      padding: 1rem 2rem;
    }

    >a::after {
      right:10px;
    }
  }
  a {
    padding: 1rem 2rem;
    color:$dark-gray;

    &:hover{
      background:$ben-franklin-blue;
      color: $white;
    }
  }
}
