#site-nav{
  text-transform: uppercase;

  ul{
    margin:0;
    padding:0;
    &.submenu{
      background: rgba(255, 255, 255, .9);
      border:1px solid $sidewalk;

      li{
      border-bottom:1px solid $sidewalk;

      &:last-child{
          border-bottom: none;
        }
      }
    }
    li{

      &.is-active > a {
        background: $ben-franklin-blue;
        color:$white;
      }

      &:hover > a{
        background: $ben-franklin-blue;
        color:$white;
      }
      a{
        color:$dark-gray;
        font-weight:700;
      }
      ul li{
        text-align: left;
        li{
          text-align: left;
        }
      }
      &.is-drilldown-submenu-parent>a:hover::after{
        border-color: transparent transparent transparent $white;
        border-left-style: solid;
        border-right-width: 0;
      }
      &.js-drilldown-back>a:hover::before{
        border-color: transparent $white transparent transparent;
        border-right-style: solid;
        border-left-width: 0;
      }
    }
  }
}

.title-bar-title{
  margin: 0 0 0 30px;
}
