table {
  width:100%;
  border-spacing: 2px;
  border:none;

  thead tr th,
  thead tr td{
    background-color:$manatee;
    color:$white;
    padding:0.625rem;
    font-size:rem-calc(14);
    font-weight:400;
    @include secondary-font;
  }
  tr th, tr td{
    padding:0.5625rem 0.625rem;
    font-size:rem-calc(12);
  }
  tr.even, tr.alt,
  tr:nth-of-type(even) {
    background-color:$geyser;
  }
  tr.odd, tr, tr:nth-of-type(odd) {
    background-color:$ghost-gray;
  }
}
