table {
  width:100%;
  border-spacing: 2px;
  border:none;

  &.no-borders {
    border-spacing:0;
  }
  thead tr th,
  thead tr td,
  tr th{
    background-color:$fairmount-green;
    color:$white;
    padding:0.625rem;
    font-size:rem-calc(13);
    letter-spacing: .05px;
    @include secondary-font(400);

    abbr{
      @include secondary-font(400);
      font-size: 100%;
      color:$white;
    }
  }
  tr th, tr td{
    padding:0.5625rem 0.625rem;
    font-size:rem-calc(12);
  }
  tr.even, tr.alt,
  tr:nth-of-type(even) {
    background-color:$ghost-gray;
  }
  tr.odd, tr, tr:nth-of-type(odd) {
    background-color:$sidewalk;
  }

}
