table {
  width:100%;
  border-spacing: 2px;
  border:none;
  
  &.no-borders {
    border-spacing:0;
  }
  thead tr th,
  thead tr td,
  tr th{
    background-color:$manatee;
    color:$white;
    padding:0.625rem;
    font-size:rem-calc(13);
    letter-spacing: .05px;
    @include secondary-font;
    font-weight:400;
  }
  tr th, tr td{
    padding:0.5625rem 0.625rem;
    font-size:rem-calc(12);
  }
  tr.even, tr.alt,
  tr:nth-of-type(even) {
    background-color:$geyser;
  }
  tr.odd, tr, tr:nth-of-type(odd) {
    background-color:$ghost-gray;
  }
}
