---
layout: default
---

<div class="mtm">
  <div class="panel bg-bell-yellow">This version of the pattern portfolio will be deprecated in early 2017. If you have questions email <a href="mailto:oddt@phila.gov">oddt@phila.gov</a>. </div>
</div>

<h2 class="regular">Getting Started</h2>
<p>Check out the <a href="https://github.com/CityOfPhiladelphia/patterns">GitHub repository</a> for information on how to use these patterns in your project, or view the <a href="{{ "/boilerplate" | prepend: site.baseurl}}">Boilerplate</a> for example markup. </p>
<div id="pattern-search">
  <input class="filter" type="search" placeholder="Filter pattern list">

  <div class="list">

    {% for type in site.data.types %}

    {% capture slug %}{{ type.name | slugify }}{% endcapture %}

      <h2 id="{{ slug }}" data-magellan-target="{{ slug }}">{{ type.name }}</h2>
      {% for pattern in site.patterns %}

      {% capture url %} {{ pattern.relative_path }} {% endcapture %}
      {% capture label %}{{ collection }}{% endcapture %}

      {% if url contains slug %}

        {% include pattern-output.html %}

        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</div>
