---
title: Media Events
id: media-events
---

<div class="media-event-box">
  <div class="medium-8">
    <div class="story s-event-box">
    
    <div class="event-box-1">
      <a href="#" target="_blank">
        <div class="media-events-datetime">SUNDAY, APRIL 19 <BR>
        9:00 AM - 3:00 PM</div>
      </a>
        <div class="media-events-header">Boys Scout Day</div>
        <div class="media-events-text">National Convention Center, 525 Arch Street</div>
    </div>
     
     <div class="event-box-2">
       <a href="#" target="_blank">
        <div class="media-events-datetime-box">SUNDAY, APRIL 19 <BR>
        9:00 AM - 3:00 PM</div>
      </a>
        <div class="media-events-header-box">Boys Scout Day</div>
        <div class="media-events-text-box">National Convention Center, 525 Arch Street</div>
    </div>
       
    <div class="event-box-3">    
      <a href="#" target="_blank">
        <div class="media-events-datetime">SUNDAY, APRIL 19 <BR>
        9:00 AM - 3:00 PM</div>
      </a>
        <div class="media-events-header">Boys Scout Day</div>
        <div class="media-events-text">National Convention Center, 525 Arch Street</div>
    </div>
    </div>
  </div>
</div>
