---
title: Media Block
description: News stories should be card-like. The whole area is a link.
id: media-block
---

<div class="row">
  <div class="medium-8">
    <a href="#" target="_blank">
      <div class="story s-box">
        <img src="{{ "/images/internships.jpg" | prepend: site.baseurl }}" alt="Apply to Philadelphia Internships">
        <h3>Apply to the Mayor’s Internship Program</h3>
        <div class="small-text">Experience Philadelphia</div>
        <p>Undergraduate and graduate students interested in City government or gaining valuable workplace experience should apply to the MIPs before January 30th, 2015.
        </p>
      </div>
    </a>
  </div>
</div>
