---
title: Event Block
id: event-block
---

<div class="row">
  <div class="medium-8">
    <div class="event-box">
      <div class="event-row">
        <a href="#" target="_blank">
          <div class="datetime">Sunday, April 19 <br>
          9:00 AM - 3:00 PM</div>
        </a>
          <div class="event-title">Boys Scout Day</div>
          <div class="event-location">National Convention Center, 525 Arch Street</div>
      </div>
       <div class="event-row">
         <a href="#" target="_blank">
          <div class="datetime">Sunday, April 19 <br>
          9:00 AM - 3:00 PM</div>
        </a>
          <div class="event-title">Boys Scout Day</div>
          <div class="event-location">National Convention Center, 525 Arch Street</div>
      </div>
      <div class="event-row">
        <a href="#" target="_blank">
          <div class="datetime">Sunday, April 19 <br>
          9:00 AM - 3:00 PM</div>
        </a>
          <div class="event-title">Boys Scout Day</div>
          <div class="event-location">National Convention Center, 525 Arch Street</div>
      </div>
    </div>
  </div>
</div>
