---
title: Media Block
description: News stories should be card-like. The whole card is a link. The 'equal-height' class can be used to force media blocks (and other elements) of differnt heights to appear equal. 
id: media-block
---

<div class="row">
  <div class="equal-height">
    <div class="medium-8 columns">
      <div class="story s-box">
        <a href="http://google.com">
          <img src="{{ "/images/internships.jpg" | prepend: site.baseurl }}" alt="Apply to Philadelphia Internships">
          <h3>Apply to the Mayor’s Internship Program</h3>
          <div class="small-text">Experience Philadelphia</div>
          <p>Undergraduate and graduate students interested in City government or gaining valuable workplace experience should apply to the MIPs before January 30th, 2015.
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
