{{ site.patterns | where:"title" : "Footer" }}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js" type="text/javascript"></script>

<script src="https://cdn.jsdelivr.net/clipboard.js/1.5.12/clipboard.min.js"></script>

<script src="{{"/js/dist/patterns.min.js" | prepend: site.baseurl }}"></script>

<script src="{{"/js/styleguide-script.js" | prepend: site.baseurl }}" type="text/javascript"></script>

<div class="copy-success callout success">Copied!</div>
<div class="copy-failure callout alert">Not copied.</div>
