<!-- Begin header -->
<header data-swiftype-index='false' class="site-header app">
  <div class="row expanded">
    <div class="small-24 columns">
      <a href="http://alpha.phila.gov/" class="logo">
        <img data-interchange="[//cityofphiladelphia.github.io/patterns/images/city-of-philadelphia-mobile.png, small], [//cityofphiladelphia.github.io/patterns/images/city-of-philadelphia-white.png, medium]" src="//cityofphiladelphia.github.io/patterns/images/city-of-philadelphia-white.png" alt="City of Philadelphia">
      </a>
      <h1 class="site-title">phila.gov</h1>
      <h2 class="site-description">City of Philadelphia</h2>
      <div class="page-title-container">
        <a href="{{ site.baseurl }}/">
          <h1 class="page-title">{{ site.title }}</h1>
        </a>
      </div>
      </div>
    </div>
  </div>
  <div class="row expanded">
    <div class="small-24 small-centered columns">
      <div class="title-bar" data-responsive-toggle="pattern-site-nav" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle><div class="title-bar-title">Menu</div></button>
      </div>
      <div class="top-bar" id="pattern-site-nav">
        <nav>
          <ul class="dropdown vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown">
            {% for node in site.pages %}
              {% if page.url == node.url %}
                  {% if node.title != null %}
                    <li class="active"><a href="{{node.url | prepend: site.baseurl}}" class="active">{{node.title}}</a></li>
                  {% endif %}
                {% else %}
                  {% if node.title != null %}
                    <li><a href="{{node.url | prepend: site.baseurl}}">{{node.title}}</a></li>
                  {% endif %}
                {% endif %}
              {% endfor %}

            <li>
              <a href="#">Page Examples</a>
              <ul class="submenu vertical menu" data-submenu>
                {% for node in site.templates %}
                  {% if page.url == node.url %}
                    <li class="active"><a href="{{node.url | prepend: site.baseurl}}" class="active">{{node.title}}</a></li>
                    {% else %}
                    <li><a href="{{node.url| prepend: site.baseurl}}">{{node.title}}</a></li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
