<div id="p-{{ pattern.title | replace:' ','-' | downcase  }}" data-magellan-target="p-{{ pattern.title | replace:' ','-' | downcase  }}" class="pattern">

  <hgroup class="code">
    <h3 class="title">{{ pattern.title }}<span class="view-code">Code <i class="fa fa-arrow-circle-right"></i></span></h3>
  </hgroup>

  <div class="the-code">
    <button class="button copy" title="Copy code to clipboard" data-clipboard-target="#p-{{ pattern.title | replace:' ','-' | downcase  }}"><i class="fa fa-clipboard"></i></button>

    {% highlight html %}
       {{ pattern.output }}
    {% endhighlight %}
  </div>
  <div class="details">
    <p class="small-text">{{ pattern.description }}</p>
      {{ pattern.output }}
  </div>

</div>
