// /|\ "regular" buttons /|\ //
.button {
  @include secondary-font;
  text-transform:uppercase;
  font-weight:400;
  margin: 1em 0;
  letter-spacing:.03rem;

  .fa{
    background: $black;
    padding: .4em .5em .5em .4em;
    font-size: 1.7em;
    max-height: 40px;
    vertical-align: sub;
    position:absolute;
    right:0;
    top:0;
    width:rem-calc(45);
  }
  + .small-text {
    margin:rem-calc(0 0 12 0);
    padding:0;
  }
  &.alternate, &.alternate:link, &.alternate:visited{
    background:$white;
    color:$black;
    border:1px solid $manatee;

    .fa {
      background: $white;
    }
  }
  &.icon {
    display: block;
    position: relative;
    width:100%;
    height:40px;  //height in px for cross-browser compatibility
    //padding right must be equal to width of icon area for proper centering
    padding:rem-calc(10 45 0 0);
    //alternate must be 2px smaller than .icon because of the border
    &.alternate .fa{
      max-height: 38px;
    }
  }
}

.button.alternate:hover, .button.alternate:active,
.button.alternate > .fa:hover, .button.alternate > .fa:active  {
  color:$ben-franklin-blue !important;

}

a.button:link, a.button:visited {
  color: #fff;
  font-weight:400;
}

a.button:hover, a.button:active{
  background:$mine-shaft;
}

// /|\ call to action /|\ //
.call-to-action{
  text-align:center;
  a {
    display:block;

    &:hover .fa-circle, &:active .fa-circle {
      color:$mine-shaft;
      transition: color 300ms ease-out;
    }
    .fa  {
      color:$bell-yellow;

    }//.fa
    .fa-inverse {
      color: $white;
      vertical-align:top;
      font-size:rem-calc(40);
      span {
        font-size:rem-calc(30);
        vertical-align: bottom;
      }
    }
    .h3{
      font-weight:normal;
    }
  }//a
  &.hollow {
    &:hover .fa-circle-thin, &:active .fa-circle-thin {
      color:$mine-shaft;
      transition: color 300ms ease-out;
    }

    .fa-inverse {
      color: $black;
      span {
        font-size:rem-calc(16);
        line-height: rem-calc(21);
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}//end call to action
// /|\ social media /|\ //
.social-media-button{
  text-align:center;
  a {
    display:block;

    &:hover .fa-circle, &:active .fa-circle {
      color:$bell-yellow;
      transition: color 300ms ease-out;
    }
    .fa  {
      color:$mine-shaft;

    }//.fa
    .fa-inverse {
      color: $white;
      vertical-align:top;
      font-size:rem-calc(40);
      span {
        font-size:rem-calc(30);
        vertical-align: bottom;
      }
    }
    .h3{
      font-weight:normal;
    }
  }//a
}
