// /|\ "regular" buttons /|\ //
.button {
  text-transform:uppercase;
  font-weight:400;
  margin:0;

  .fa{
    background: $black;
    padding: .4em .5em .5em .4em;
    font-size: 1.7em;
    max-height: 40px;
    vertical-align: sub;
    position:absolute;
    right:0;
    top:0;
    width:rem-calc(45);
  }
  + .byline {
    margin:rem-calc(0 0 12 0);
    padding:0;
  }
}

.button.icon {
  display: block;
  position: relative;
  width:100%;
  height:40px;  //height in px for cross-browser compatibility
  //padding right must be equal to width of icon area for proper centering
  padding:rem-calc(10 45 0 0);
}
.button.icon.alternate{
  background:$white;
  color:$black;

  .fa {
    background: $white;
  }
}
.button.icon.alternate:hover, .button.icon.alternate:active,
.button.icon.alternate > .fa:hover, .button.icon.alternate > .fa:active  {
  color:$ben-franklin-blue !important;

}

a.button:link, a.button:visited {
  color: #fff;
  font-weight:400;
}

a.button:hover, a.button:active{
  background:$mine-shaft;
}

// /|\ call to action /|\ //
.call-to-action{
  text-align:center;
  a {
    .fa  {
      color:$bell-yellow;
    }//.fa
    .fa-inverse, span {
      color: $white;
      vertical-align:top;
      font-size:rem-calc(30);
    }
    &:hover, &:active {
      color:$mine-shaft;
    }

  }//a
}
