// /|\ "regular" buttons /|\ //
.button {
  @include secondary-font(400);
  text-transform:uppercase;
  margin: 1em 0;
  letter-spacing:.03rem;
  transition: background-color 300ms ease-in-out;
  border:none;

  i.fa{
    color:$medium-gray
  }

  &.hollow, &.hollow:link, &.hollow:visited{
    background:$white;
    color:$flyers-orange;
    border:1px solid $flyers-orange;

  i.fa{
    color: $flyers-orange;
    }

    .fa {
      background: $white;
    }
  }

  &.icon {
    display: inline-block;
    position: relative;
    height:40px;  //height in px for cross-browser compatibility
    padding:rem-calc(14 60 0 20);
    //hollow must be 2px smaller than .icon because of the border
    &.hollow .fa{
      max-height: 38px;
    }
    .fa{
      background: $ghost-gray;
      padding: .4em .5em .5em .4em;
      font-size: 1.7em;
      max-height: 40px;
      vertical-align: sub;
      position:absolute;
      right:0;
      top:0;
      width:rem-calc(40);
    }
    + .small-text {
      margin:rem-calc(0 0 12 0);
      padding:0;
    }
  }
}

a.button:link, a.button:visited {
  color: #fff;
  font-weight:400;
}

a.button:hover,
a.button:active{
  background-color:$dark-gray;
  transition: background-color 300ms ease-in-out;
}

a.button:hover > i.fa,
a.button:active > i.fa{
  color:$dark-gray;
  background-color:$ghost-gray;
  transition: color 300ms ease-in-out;
}

.button.hollow:hover,
.button.hollow:active,
.button.hollow > .fa:hover,
.button.hollow > .fa:active,
.button.hollow:hover > i.fa{
  color:$dark-gray;
  transition: color 300ms ease-in-out;
}

// /|\ call to action /|\ //
.call-to-action{
  text-align:center;
  a {
    display:block;
    color:$dark-gray;

    &:hover .fa-circle, &:active .fa-circle {
      color:$dark-gray;
      transition: color 300ms ease-out;
    }
    .fa  {
      color:$bell-yellow;

    }//.fa
    .fa-inverse {
      color: $white;
      vertical-align:top;
      font-size:rem-calc(40);
      span {
        font-size:rem-calc(30);
        vertical-align: bottom;
      }
    }
  }
}//end call to action
