input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
select{
  border: 1px solid $bell-yellow;
  background-color: $white;
  padding:rem-calc(8);
  margin: 0;
}

input[type]::-webkit-input-placeholder {
   color: $medium-gray;
}

input[type]:-moz-placeholder { /* Firefox 18- */
   color: $medium-gray;
}

input[type]::-moz-placeholder {  /* Firefox 19+ */
   color: $medium-gray;
}

input[type]:-ms-input-placeholder {
   color: $medium-gray;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
textarea:focus {
    border: 2px solid $bell-yellow;
    background-color:$white;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.search {
  width: 100%;
  position: relative;
  &:before {
    position: absolute;
    top: 0;
    right: 0;
    width: rem-calc(40);
    height: rem-calc(40);
    font-family: 'FontAwesome';
    content: '\f002';
    text-align: center;
    -webkit-font-smoothing: subpixel-antialiased;
    font-smooth: always;
    background:$bell-yellow;
    color:$white;
    font-weight:normal;
    padding:rem-calc(8);
  }

  input[type="text"] {
    height:rem-calc(40);
  }
  input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    width: rem-calc(40);
    height: rem-calc(40);
    opacity: 0;
    cursor: pointer;
  }
}

input[type="text"].is-error {
    border:2px solid $flyers-orange;
}

//alternate styles for forms
form.alternate{
  background:$ben-franklin-blue;
  padding:rem-calc(16);
  color:$white;

  label{
    color:$white;
  }
  p{
    margin:rem-calc(0 0 16 0)
  }
}
//chome autocomplete hack to stop random ugly yellow background
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
