@import url('//fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,600,700');

body {
  font-family:$font-family-sans-serif;
  font-size:100%;
  background:$white;
}
// Heading sizes
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  @include secondary-font(700);

  &.alternate {
    color:$sidewalk;
    font-size:$h4-font-size;
    margin-top:rem-calc(12);
    margin-bottom:rem-calc(12);
    font-weight:400;
    text-transform:uppercase;
    + .small-text{
      color:$black;
    }
    &.divide{
      display: flex;
      flex-direction: row;
      &:after {
        background-color: #F2BA13;
        flex-grow: 1;
        height: 2px;
        position: relative;
        top: 0.6em;
        content: '';
        margin: 0 0 0 15px;
      }
    }
  }// &.alternate
} // h1, .h1 etc

h1, .h1{
  padding:0;
  margin-top:rem-calc(16);
  margin-bottom:rem-calc(16);
  font-size:$h1-font-size;
  letter-spacing:.03rem;
}

h2, .h2 {
  padding:0;
  margin:rem-calc(13 0);
  font-size:$h2-font-size;
  letter-spacing:.03rem;
}

h3, .h3{
  font-size:$h3-font-size;
  letter-spacing:.03rem;
}
h4, .h4{
  font-size:$h4-font-size;
  font-weight:normal;
}
h5, .h5{
  font-size:$h5-font-size;
  font-weight:normal;
}
h6, .h6{
  font-size:$h6-font-size;
  font-weight:normal;
}
// Paragraphs
blockquote p {
  margin: 0 0 1em 0;
}
p {
  margin: 1em 0;
}
body{
  background:$white;
}

hr {
  height:1px;
  border: none;
  background:$whitesmoke;
}

// Links
a:link, a:visited{
  @extend %link-styles;
}
a:hover, a:active {
  color:$mine-shaft;
}

.small-text {
  color: $sidewalk;
  font-size: rem-calc(12);
  display:block;
}

.vcard {
  color:$mine-shaft;
  border:0;
  margin:0;
  padding:0;

  .vcard-label {
    @extend %small-highlight;
  }
}

.date-time {
   letter-spacing:.01rem;
   text-transform:uppercase;
}

// Tooltip
.tooltip {
  font-size:rem-calc(12);
  p{
    font-size:rem-calc(12);
    margin:rem-calc(6 0);
  }
}

// External Links
.external::after {
  font-family: "FontAwesome";
  content: "\f08e";
  font-size:rem-calc(12);
  padding:0 5px;
}
