//get our fonts (thx Google)
@import url('//fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700');

body {
  font-family:$font-family-sans-serif;
  font-size:100%;
  background:$white;
}
/* Heading sizes */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Montserrat', 'Tahoma', sans-serif;
  font-weight:700;
  text-transform: uppercase;
  &.alternate {
    color:$sidewalk;
    font-size:$h4-font-size;
    margin-top:rem-calc(12);
    margin-bottom:rem-calc(12);

    &.divide{
      display: flex;
      flex-direction: row;
      &:after {
        background-color: #F2BA13;
        flex-grow: 1;
        height: 2px;
        position: relative;
        top: 0.6em;
        content: '';
        margin: 0 0 0 15px;
      }
    }
  }
}



h1, .h1{
  padding:0;
  margin-top:rem-calc(16);
  margin-bottom:rem-calc(16);
  font-size:$h1-font-size;
}

h2, .h2 {
  padding:0;
  margin:rem-calc(13 0);
  font-size:$h2-font-size;
}

.h3{
  font-size:$h3-font-size;
}
.h4{
  font-size:$h4-font-size;
}
.h5{
  font-size:$h5-font-size;
}
.h6{
  font-size:$h6-font-size;
}
/*paragraphs*/
blockquote p {
  margin: 0 0 1em 0;
}
p {
  margin: 1em 0;
}
body{
  background:$white;
}

hr {
  height:1px;
  border: none;
  background:$whitesmoke;
}

/*links*/
a:link, a:visited{
  color:$ben-franklin-blue;
  text-decoration: none;
  font-weight:700;
}
a:hover, a:active {
  color:$mine-shaft;
}

.small-text {
  color: $manatee;
  font-size: 80%;
  display:block;
}

.vcard {
  color:$mine-shaft;
  border:0;
  margin:0;
  padding:0;
}
