html, body{
  height:100%;
}
.accessible, .site-branding h1, .site-branding h2, a.skip-link, .screen-reader-text {
  position: absolute;
  left: -99999px;
  height: 10px;
  width: 10px;
}

img {
  max-width:100%;
  height:auto;
}

header.site-header {
  a:hover .logo, a:active .logo {
    opacity:.7;
    transition: opacity 300ms ease-out;
  }
  .logo{
    height:75px;
    width:auto;
  }
  @media #{$small-only} {
    .search{
      margin-bottom:rem-calc(18);
    }//.search
  }
  @media #{$medium-up} {
    .search{
      margin-top:rem-calc(18);
    }//.search
  }
}

ol, ul{
  padding: rem-calc(0 0 0 20);
  margin:rem-calc(0 0 0 20);
  li ul, li ol {
    margin:0;
  }
}

dl {
  .columns, .column {
    margin:0;
    padding:0;
  }

  dt{
    color:$manatee;
    text-transform:uppercase;
  }
  dt, dd{
    font-size:rem-calc(12);
    line-height:1.9;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid $manatee;
  }
  dt:last-of-type, dd:last-of-type{
    margin:0;
    padding:0;
    border-bottom:none;
  }
}


.center{
  //for when you really _really_ need that centered text.
  text-align:center !important;
}


@media #{$medium-up} {
  a[href*="tel"] {
    pointer-events: none;
    cursor: default;
    &:link, &:visited {
      font-weight:normal;
      color:$mine-shaft;
    }
  }
}

/*utility classes*/

.no-margin{
  margin:0 !important;
}
.no-padding {
  padding:0!important;
}
