---
layout: page
title: Off-site Department
permalink: /templates/off-site-department-page/
---
<div class="page" id="page">
  {{ site.patterns | where:"title" : "Standard Header" }}
  <article class="department">
    <div class="row">
      <div class="large-24 columns">
          <h1>Department Name</h1>
      </div>
    </div>
    <div class="row">
      <div class="large-18 columns">
      <p class="description">Department Name has a <strong>separate website</strong>: <a href="http://www.phila.gov/departmentname">http://www.phila.gov/departmentname</a></p>
      <p><a href="#" class="button icon">You are now leaving alpha.phila.gov<i class="fa fa-sign-out"></i></a></p>
      {{> atoms-paragraph }}
    </div>
      <div class="large-6 columns">
      </div>
    </div>
  </article>
  <div class="row">
    {{ site.patterns | where:"title" : "Panel" }}
  </div>
</div>
<!--end page -->
{{ site.patterns | where:"title" : "Footer" }}
