<!DOCTYPE html>
<html>

  {% include head.html %}
  <body id="pattern-page">

    {% include header.html %}

          {{ content }}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{"/src/foundation/foundation.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{"/src/script.js" | prepend: site.baseurl }}"></script>
    <script>
      $(document).foundation();
    </script>

    <script src="{{ "/bower_components/nprogress/nprogress.js" | prepend: site.baseurl }}"></script>
    <script>
    $( document ).ready(function() {
      if ($("#application").length > 0)
        NProgress.start();
    });
    </script>

  </body>

</html>
