<!DOCTYPE html>
<html>

  {% include head.html %}
  <body id="pattern-page">

    {% include header.html %}

    {% if page.title == "Application" %}

    <div class="full" id="application">

    {% else %}
    <div id="page">
      {% endif %}
      <div class="row">
        <div class="small-24 column">
          {{ content }}
        </div>
      </div>
    </div>
    {% include footer.html %}
    {% if page.title == "Application" %}
      <script>
      $( document ).ready(function() {
        if ($("#application").length > 0)
          NProgress.start();
      });
      </script>
    {% endif %}

  </body>

</html>
