ul.inline-list li{
  display: inline-block;
}

.no-margin{
  margin:0 !important;
}

.no-padding {
  padding:0!important;
}

.nowrap {
  white-space: nowrap!important;
}

.margin-bottom-50{
  margin-bottom: rem-calc(50) !important;
}

.full {
  width: 100% !important;
  max-width: 100% !important;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.center{
  //for when you really _really_ need that centered text.
  text-align:center !important;
}

.bg-white{
  background-color:$white;
}

.bg-black{
  background-color:$black;
}
