//Easily add classes to set font color

/*
  BRIGHTS
*/
.ben-franklin-blue {
  color: $ben-franklin-blue;
}
.bell-yellow {
  color: $bell-yellow;
}
.flyers-orange {
  color: $flyers-orange;
}
.fairmount-green {
  color: $fairmount-green;
}
.ben-franklin-light {
  color: $ben-franklin-light;
}
.black {
  color: $black;
}
.white {
  color: $white;
}
/*
  GRAYS
*/
.dark-gray{
  color: $dark-gray;
}
.medium-gray{
  color: $medium-gray;
}
.ghost-gray {
  color: $ghost-gray;
}
.sidewalk {
  color: $sidewalk;
}
