//Easily add classes to set fonts and background colors

/*
  BRIGHTS
*/
.ben-franklin-blue {
  color: $ben-franklin-blue;
}
.bell-yellow {
  color: $bell-yellow;
}
.flyers-orange {
  color: $flyers-orange;
}
.fairmount-green {
  color: $fairmount-green;
}
.ben-franklin-light {
  color: $ben-franklin-light;
}
.indego-blue {
  color: $bike-share-blue;
}
.black {
  color: $black;
}
.white {
  color: $white;
}
.bg-ben-franklin-blue {
  background: $ben-franklin-blue;
}
.bg-bell-yellow {
  background: $bell-yellow;
}
.bg-flyers-orange {
  background: $flyers-orange;
}
.bg-fairmount-green {
  background: $fairmount-green;
}
.bg-ben-franklin-light {
  background: $ben-franklin-light;
}
.indego-blue {
  background: $bike-share-blue;
}
.bg-black {
  background: $black;
}
.bg-white {
  background: $white;
}
/*
  GRAYS
*/
.dark-gray{
  color: $dark-gray;
}
.medium-gray{
  color: $medium-gray;
}
.ghost-gray {
  color: $ghost-gray;
}
.sidewalk {
  color: $sidewalk;
}
.bg-dark-gray{
  background: $dark-gray;
}
.bg-medium-gray{
  background: $medium-gray;
}
.bg-ghost-gray {
  background: $ghost-gray;
}
.bg-sidewalk {
  background: $sidewalk;
}
