@mixin pad-box($unit) {
  padding:rem-calc($unit);
}

@mixin list-columns($num, $pad) {
  -moz-column-count: $num;
  -moz-column-gap:rem-calc($pad);
  -webkit-column-count: $num;
  -webkit-column-gap:rem-rem-calc($pad);
  column-count: $num;
  column-gap:rem-calc($pad);
}

@mixin secondary-font($weight){
  font-family: 'Montserrat', 'Tahoma', sans-serif;
  font-weight:$weight;
//  text-transform: uppercase;
}

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
