@mixin pad-box($unit) {
  padding:rem-calc($unit);
}

@mixin list-columns($num, $pad) {
  -moz-column-count: $num;
  -moz-column-gap:rem-calc($pad);
  -webkit-column-count: $num;
  -webkit-column-gap:rem-rem-calc($pad);
  column-count: $num;
  column-gap:rem-calc($pad);
}

@mixin secondary-font{
  font-family: 'Montserrat', 'Tahoma', sans-serif;
  font-weight:700;
  text-transform: uppercase;
}
