%group::after {
  content: "";
  display: table;
  clear: both;
}

%small{
  font-size:rem-calc(12);
}

%small-highlight{
  font-weight: bold;
  font-size: rem-calc(12);
  letter-spacing:.01rem;
  color: $manatee;
  text-transform:uppercase;
}

%link-styles{
  color:$ben-franklin-blue;
  text-decoration: none;
  font-weight:700;
}

%accessible{
  position: absolute;
  left: -99999px;
  height: 10px;
  width: 10px;
}
