%group::after {
  content: "";
  display: table;
  clear: both;
}

%small{
  font-size:80%;
}

%small-highlight{
  font-weight: bold;
  font-size: rem-calc(12);
  letter-spacing:.01rem;
  color: $ben-franklin-blue;
  text-transform:uppercase;
}
