$ben-franklin-blue: #027EA4; //primary
$bell-yellow: #F2BA13;

$black: #000000;
$white: #fff;

$geyser: #DBE1E3; //primarily used on borders
$ghost-gray: #F1F3F1; //primarily used on callouts

$mine-shaft: #353535; //dark gray
$sidewalk: #666; //med-gray
$manatee: #9299A5; //Md. Grey (blueish)

$whitesmoke: #EDF4F7; //whitesmoke
